[submodule "gmarik/Vundle.vim"]
    path = vim/bundle/Vundle.vim
    url = https://github.com/gmarik/Vundle.vim.git
[submodule "kien/ctrlp.vim"]
    path = vim/bundle/ctrlp.vim
    url = https://github.com/kien/ctrlp.vim.git
[submodule "Shougo/neocomplcache.vim"]
    path = vim/bundle/neocomplcache.vim
    url = https://github.com/Shougo/neocomplcache.vim.git
[submodule "Shougo/neosnippet.vim"]
    path = vim/bundle/neosnippet.vim
    url = https://github.com/Shougo/neosnippet.vim.git
[submodule "tpope/vim-surround"]
    path = vim/bundle/vim-surround
    url = https://github.com/tpope/vim-surround.vim.git
[submodule "tpope/vim-commentary"]
    path = vim/bundle/vim-commentary
    url = https://github.com/tpope/vim-commentary.vim.git
[submodule "tpope/vim-sleuth"]
    path = vim/bundle/vim-sleuth
    url = https://github.com/tpope/vim-sleuth.vim.git
[submodule "itchyny/lightline"]
    path = vim/bundle/vim-commentary
    url = https://github.com/itchyny/lightline.git
